.carousal-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 25rem;
    position: absolute;
    top: 0;
    width: 100vw;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.simage {
    height: 30rem;
    z-index: -1;
    background-color: black;
}

.above {
    position: absolute;
    top: 0;
    height: 30rem;
    z-index: 0;
    width: 100%;
    background-color: black;
    opacity: 0.1;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #083339;
}

#navbar::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 80%;
    opacity: 0.2;
    z-index: -1;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    font-family: 'Baloo Chettan 2', cursive;
    display: block;
    padding: 3px 22px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    background-color: white;
    text-decoration: none;
    color: black;
}

.ahome {
    padding-top: 0.5rem;
    margin-top: 0.4rem;
    margin-right: 3rem;
}

.services {
    margin-top: 0.9rem;
    margin-left: 1rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon {
    position: absolute;
    top: 0.3rem;
    left: 0.2rem;
    height: 3rem;
}

.text-big {
    font-size: 2rem;
    font-family: cursive;
    text-align: center;
}

.text-small {
    font-size: 1.5rem;
    font-family: cursive;
    text-align: center;
    margin-left: 1;
}

.cont {
    width: 98vw;
    margin-left: 0.4rem;
}

.gal1 {
    width: 46vw !important;
    margin-left: 1rem;
}

.gal2 {
    width: 46vw !important;
}

.elevation {
    border: 2px #bfbfbf solid;
    box-shadow: 9px 5px 8px #aaaaaa;
    border-radius: 0.7rem;
}

.footer {
    height: 20vh;
    background-color: #083339;
    margin-top: 2vh;
    display: flex;
    width: 100vw;
    justify-content: center;
}

.foot-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact {
    text-decoration: none;
    color: white;
    margin-left: 0.5rem;
}

.mnumber {
    display: flex;
    flex-direction: row;
    margin-left: -2rem;
}

@media screen and (max-width: 540px) {
    .gal1 {
        height: 18vh;
    }
    .gal2 {
        height: 18vh;
    }
    .simage {
        height: 15rem;
    }
    .above {
        height: 15rem;
    }
    .carousal-text {
        height: 14rem;
    }
    .gcontainer {
        height: 10.3rem;
    }
    .ft-text {
        font-size: 1.5rem;
        margin-left: 0.9rem;
    }
    .foot-text {
        width: 20rem;
    }
    .gal1 {
        margin-left: 0.7rem;
    }
    .mbview {
        margin-top: 0.9rem !important;
    }
    .elevation {
        box-shadow: 8px 7px 8px #aaaaaa;
    }
    .contact {
        margin-left: 0.7rem;
    }
    .mnumber {
        margin-left: -0.7rem;
    }
}